body {
    display: flex;
    flex-direction: column;
    font-family:'Times New Roman', Times, serif;
    margin: 0;
}

.section1{
    background-color: #1f2937;
}

.header {
    display: flex;    
    justify-content: space-between;

}

.main-header {
    font-size: 18px;    
    color:#e5e7eb;
    font-weight: 900;
    padding: 10px;
    margin-left: 100px;
     
} 

.small-header {
    display: flex;
    color: #e5e7eb;
    font-size: 18px;
    gap: 10px;
    align-items: center;
    margin-right: 100px;
}

.header-body{
    display: flex; 
    justify-content: space-between;
       
}

.header-body1 {
    display: flex;
    flex-direction: column;
    color: #e5e7eb;
    margin-left: 100px;
    margin-top: 50px;
    width: 300px;
}

.header-body1-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.header-body1-content {
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 10px;
    
}

.signup1 {
    background-color: #3882f6;
    padding: 8px;
    width:200px;
    font-size: 24px;
    color: #f9faf8;
    border-radius: 10px;
    margin-bottom: 100px;
}

img {
/*for the picture*/
   width: 400px;
   height: 225px;
   margin-right: 100px; 
   margin-top: 50px;
   display: flex;
   flex-grow: 1;
}

.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    
}

.section-two-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    display: flex;
    justify-content: center;
    margin: 50px ;
}

.section-two-blankboxes {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-shrink: 0;
}
.one, .two, .three, .four {
    border: 4px solid #3882f6;
    border-radius: 10px;
    width: 100px;
    height: 100px;
}


.blank-content {
    display: flex;
    gap: 50px;
    
}

.blank1, .blank2, .blank3, .blank4 {
    width: 100px;
    flex-wrap: wrap;
    padding: 4px;
    margin-bottom: 65px;
}



.section-3 {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
}

.quote {
    display: flex;
    flex-wrap: wrap;
    width:550px;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}

.author {
   
    font-weight: 900;
    font-size: 20px;
    margin-left: 200px ;
    
}

.big{
    background-color: white;
    display: flex;
    justify-content: center;
    height: ;
}

.section-4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3882f6;
    padding: 50px;
    margin-top: 75px;
    margin-bottom: 75px;
    width: 550px;
    border-radius: 10px;
    
}

.section-41 {
    display: flex;
    
    flex-direction: column;
}

.section-41-title {
    color: #f9faf8;
    font-weight: 900 ;
    font-size: 16px;
}

.section-41-content {
    font-size: 12px;
    color: #e5e7eb;
}

.section-42 {
    padding-right: 30px;

}

.signup2 {
    background-color: #3882f6;
    padding: 4px;
    width:100px;
    font-size: 18px;
    color: #f9faf8;
    border-color: white;
    border-radius: 4px;
    
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 25px;
    color: #f9faf8;
}

